# Игнорировать файлы конфигурации с секретами
**/appsettings.json
**/appsettings.*.json
**/bin/
**/obj/
*.vs
.vscode/
.DS_Store
*.user
*.suo
*.cache
*.swp
*.swo
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.sqlite3
*.db
*.bak
*.tmp
*.temp
*.pid
*.seed
*.pid.lock
*.sln.iml
*.csproj.user
*.unityproj.user
*.sublime-workspace
*.sublime-project
*.vscode/
*.idea/
*.ionide/