################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/FormsAPI/FormsAPI/appsettings.json
*.vs
# Config files
**/appsettings.json
**/appsettings.*.json

# Build outputs
bin/
obj/